---
import Experience from "./Experience.astro";
import Person from "./icons/Person.astro";
import Work from "./icons/Work.astro";
import Tecnologia from "./icons/Tecnologia.astro";
import Tecnologias from "./Tecnologias.astro";
---

<section class="mb-6" data-aos="fade-up">
  <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
    <Person class="size-7" />
    Sobre mi
  </h2>

  <p class="mb-4">
    Soy un analista con pensamiento crítico y habilidades creativas en el diseño
    de soluciones tecnológicas. Cuento con sólidos conocimientos en desarrollo
    informático y experiencia en tecnologías como HTML, CSS, JavaScript, React y
    Node.js. Me caracterizo por ser resolutivo, proactivo y mantener el control
    ante situaciones complejas, siempre con entusiasmo por aprender y adaptarme
    a nuevos retos.
  </p>
</section>
<section class="mb-6">
  <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
    <Work class="size-7" />Experiencia Laboral
  </h2>
  <Experience />
</section>
<section class="mb-12">
  <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
    <Tecnologia class="size-7 text-white" />Tecnologias
  </h2>
  <Tecnologias class="" />
</section>
